body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 25px;
}

.button {
  background-color: #6bc6ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}